*{
margin: 0;
padding: 0;
}

body{
    max-width: 60%;
    margin:auto;
}

header{
    background-color: rgb(139, 247, 220);
    height: 10vh;
    display: flex;
    align-items: center;
}

h1{
    padding: 0 0 0 20px;
}

h2{
    padding-top: 1rem;
}

.dashed-border{
    border: black dashed 2px;
    height: auto;
    padding: 20px;
}

#inline{
    display: flex;
    justify-content: flex-start;
}

#purple{
    width: 200px;
    height: 100px;
    background-color: purple;
    border: solid red 3px;
    margin-right: 30px;
    margin-top: 140px;
}

#blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-right: 30px;
    margin-top: 140px;
    box-shadow: 5px 5px 5px black;
}

#pink{
    height: 200px;
    width: 200px;
    background-color: rgb(211, 125, 140);
    margin-top: 45px;
    border: solid black 1px;
}

.coal{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
}

#left-eye{
    margin: 25px 0 0 30px;
}

#right-eye{
    margin-left: 60px;
}

#circ1{
    height: 100px;
    width: 100px;
    border: solid black 1px;
    border-radius: 50%;
    margin-left: 20px;
}
#circ2{
    height: 120px;
    width: 120px;
    border: solid black 1px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#circ3{
    height: 140px;
    width: 140px;
    border: solid black 1px;
    border-radius: 50%;
}

#big{
    height: 300px;
    width: 300px;
    border: solid black 1px;
    background-color: rgb(233, 204, 166);
}

#green{
    height: 250px;
    width: 250px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
}

#brown{
    height: 150px;
    width: 150px;
    background-color: brown;
    margin: 50px 0 0 50px;
}

#blue-circ{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    color: white;
}

#orange{
    height: 30px;
    width: 30px;
    background-color: orange;
}